.Team {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    opacity: 1;
    transition: 0.5s ease;

    .teammateBox {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;

        // height: 600px;
        // max-height: 70vh;
        max-width: 90vw;

        .pictureBox {
            height: 100%;
            // height: 550px;
            opacity: 1;
            transition: 0.5s ease;

            img {
                max-height: 550px;
                max-width: 90vw;
                border: 3px solid $secondary-dark;
                padding: 2px;
            }
        }

        .pictureBox.loading {
            opacity: 0;
        }

        .description {
            background-color: $primary;
            padding: 20px;
            margin: -50px;

            width: 350px;
            max-width: 90vw;
            font-size: 0.95em;

            border:  3px solid $secondary-dark;

            opacity: 1;
            transform: scaleY(1);
            transition: 0.5s ease 0.2s;
        }

        .description.team {
            width: 70%;
        }

        .description.loading {
            transform: scaleY(0);
            opacity: 0;
            transition: 0.5s ease;
        }


    }



    .teammatesIcons {
        display: flex;
        flex-flow: row wrap;
        max-width: 80%;
        margin: 80px;

        img {
            height: 80px;
            border-radius: 40px;
            margin: 5px;
            border: 3px solid $secondary;
            opacity: 0.8;
            cursor: pointer;
        }

        img:hover {
            opacity: 1;
            border: 4px solid $secondary-intense;
            margin: 4px;
        }

    }

}

.Team.loading {
    opacity: 0;
}

@-moz-document url-prefix() {
    .Team {

        .teammateBox {

            .description {
                margin-top: -100px;

            }
        }
    }

    .teammatesIcons {
        padding-top: 100px;
    }
  }