.Team {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;

    opacity: 1;
    transition: 0.5s ease;
    box-sizing: border-box;

    .teammateBox {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;

        max-width: 500px;

        .pictureBox {
            height: 100%;
            opacity: 1;
            transition: 0.5s ease;
            box-shadow: 5px 5px 10px 0px rgba(#000000, 0.3);

            img {
                max-height: 550px;
                max-width: 90vw;
                border: 3px solid $secondary-dark;
                padding: 2px;
            }
        }

        .pictureBox.loading {
            opacity: 0;
        }

        .description {
            flex: 1 1 auto;
            background-color: $under-text-color;
            background-image: url("./svg/brownShieldsBg.svg");
            background-size: 50px;
            background-repeat: repeat;

            padding: 20px;
            max-width: 400px;
            font-size: 1em;

            box-shadow: 5px 5px 10px 0px rgba(#000000, 0.3);
            border:  3px solid $secondary-dark;

            opacity: 1;
            transform: scaleY(1);
            transition: 0.5s ease 0.2s;
        }

        .description.team {
            width: 70%;
        }

        .description.loading {
            transform: scaleY(0);
            opacity: 0;
            transition: 0.5s ease;
        }
    }

    .teammateBox.team {
        max-width: 100%;
        .description {
            max-width: 800px;
        }
    }

    .teammatesIcons {
        width: 400px;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        max-width: 80%;

        img {
            height: 80px;
            border-radius: 50%;
            margin: 5px;
            border: 3px solid $secondary;
            cursor: pointer;
            filter: sepia(80%);
            transform: scale(1);

            box-shadow: 5px 5px 10px 0px rgba(#000000, 0.3);

        }

        img:hover {
            opacity: 1;
            filter: sepia(60%);
            transform: scale(1.04);

        }

        img.selected {
            filter: sepia(20%);
            transform: scale(1.09);
            cursor: initial;
        }

        .rank {
            width: 100%;
            margin-top: 15px;
            margin-bottom: 5px;
            text-align: center;
            font-size: 1.2em;
        }
    }
}

.Team.loading {
    opacity: 0;
}