$nav-fill-color: $primary;
$nav-stroke-color: darken($secondary-dark, 5%);
$nav-stroke-width: 3;


.Nav {
    position: absolute;
    right: 0px;
    top: 0px;

    width: 120px;
    height: 120px;

    z-index: 100;
    .menuBtn {
        position: absolute;
        top: 0px;
        right: 0px;

        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: flex-start;

        width: 110px;
        height: 110px;


        border-bottom-left-radius: 100%;

        cursor: pointer;
        transform-origin: 100% 0%;
        transition: 0.3s ease-in-out;

        z-index: 20;

        .text {

            font-family: Vinque;
            color: $secondary;
            font-size: 1.5em;

            margin-top: 25%;

            transform: rotateZ(45deg) translate(10px, -10px);
            // transform: translate(15px, -10px);
        }
    }

    .menuBtn.btnOn {
        background-color: $nav-fill-color;
        border: ($nav-stroke-width + px) solid $nav-stroke-color;
        .text {
            // font-size: 3em;
        }

        transform: rotateZ(90deg);
    }

    .menuBtn.btnOff {
        background-color: darken($secondary, 5%);
        border: ($nav-stroke-width + px) solid $nav-fill-color;
        .text {
            color: $nav-fill-color;
        }

        transform: rotateZ(0deg);
    }

    .navBtns {
        position: absolute;
        top: -10%;
        right: -10%;

        fill: $nav-fill-color;

        height: 280%;

        transform-origin: 0px 0px;

        transition: 0.5s ease-in-out;

        z-index: 10;

        #wing {


            transform: rotateZ(-90deg);

            // transform-origin: 135px 115px;
            // transform-origin: 135px 115px;
            transform-origin: 100% 0%;
            transition: 0.5s ease-in-out;   
            cursor: pointer; 
            
            z-index: 10;
        }

        path {
            stroke: $nav-stroke-color;
            stroke-width: ($nav-stroke-width * 0.11 );
        }

        text {
           fill: $secondary;
           font-size: 2.3px;
           
        }

        #wing:nth-of-type(1) text {transform: rotate(2.5deg);}
        #wing:nth-of-type(2) text {transform: rotate(2deg);}
        #wing:nth-of-type(3) text {transform: rotate(0deg);}
        #wing:nth-of-type(4) text {transform: rotate(-3deg);}
        
        #wing:nth-of-type(1) {transition-delay: 0.15s}
        #wing:nth-of-type(2) {transition-delay: 0.1s}
        #wing:nth-of-type(3) {transition-delay: 0.05s}
        #wing:nth-of-type(4) {transition-delay: 0s}

    }

    

}

.Nav.active, .notCollapsed .Nav {


    // .menuBtn.btnOff {
    //     transform: rotateZ(-90deg);
    // }    
    // .menuBtn.btnOn {
    //     transform: rotateZ(0deg);
    // }

    .navBtns {
        // transform: rotateZ(0deg);

        #wing {
            transform: rotateZ(-2deg);
            // transform: rotate(0deg);
        }

        #wing:hover {
            transform: rotateZ(-1deg) scale(1.05);
            z-index: 15;
            transition: 0.1s ease-out 0s;
        }

        #wing:nth-of-type(1) {transition-delay: 0s}
        #wing:nth-of-type(2) {transition-delay: 0.05s}
        #wing:nth-of-type(3) {transition-delay: 0.1s}
        #wing:nth-of-type(4) {transition-delay: 0.15s}
    }
}

.Nav.active {

    .menuBtn.btnOff {
        transform: rotateZ(-90deg);
    }    
    .menuBtn.btnOn {
        transform: rotateZ(0deg);
    }

}

// .notCollapsed .Nav {
//     .menuBtn.btnOff {
//         background-color: $nav-fill-color;
//         border: ($nav-stroke-width + px) solid $nav-stroke-color;
//         .text {
//             color: $nav-stroke-color;
//         }
//     }
// }