.HeaderBg {
    position: absolute;
    left: 0px;
    bottom: -5px;
    height: 100%;
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: center;
    border-bottom: 5px solid $bg-color;

    z-index: 10;

    .current {
        animation: slideIn;
        animation-duration: 4s;
        transform: translateX(100px);
        transform-origin: 50% 100%;
    }

    .previous {
        animation: slideOut;
        animation-timing-function: ease-in-out;
        animation-duration: 3s;
        transform: translateX(-100vw);
    }

    svg {
        fill: $bg-color;
        height: 80%;
    }
}

@keyframes slideIn {
    from {transform: translateX(100vw) scale(0.2)}
    to {transform: translateX(100px) scale(1)}
}

@keyframes slideOut {
    from {transform: translateX(100px) translateY(0%) scale(1)}
    to {transform: translateX(-100vw) translateY(-50%) scale(2)}
}