.headerLogo {
  background-image: url("./shared/Header/logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 25vw;
  // width: 56vw;
}

.Header {
  .floatingPart {
    position: fixed;

        width: 100%;

    .logo {
      fill: orange;

      height: 25vw;

      transition: 1s ease;

      .mainLogoText {
        fill: green;
      }

      .logoWings {
        fill: red;
      }

      text {
        fill: blue;
      }
    }

  }

  .backgroundPart {
      height: 25vw
  }


}


.Header.collapsed {

  .logo {
    height: 15vw;
  }

}