.headerLogo {
  background-image: url("./shared/Header/logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 25vw;
  // width: 56vw;
}

.Header {
  .floatingPart {
    position: fixed;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;

    // background-color: rgba(255,255,255,0.2);
    // background-color: #20160c;
    // background-image: linear-gradient(to bottom,#383250, #383250, #383250, rgba(0,0,0,0));
    background-color: #2d5281;


    width: 100%;

    padding: 20px;

    box-sizing: border-box;
        

    .logo {
      fill: $secondary-intense;

      height: 6vw;
      
      z-index: 60;

      transition: 1s ease;

      // .mainLogoText {
      //   fill: $secondary;
      // }

      // .logoWings {
      //   fill: $secondary;
      // }

      // text {
      //   fill: $secondary;
      // }
    }

  }

  .backgroundPart {
      height: 35vw;
    //  background-color: #383250;
    // background-image: linear-gradient(to bottom,#383250, #383250, #383250, rgba(0,0,0,0));


  }


}


.Header.notCollapsed {

  .logo {
    height: 20vw;
  }

}