$primary: #351800;
$primary-dark: #351800;
$primary-light: #462003;

// $secondary-intense: #db9f37;
// $secondary: #c99131;
// $secondary-dark: #b4822c;

$secondary-intense: #be9142;
$secondary: #c49545;
$secondary-dark: #7e5e28;

$text-color: #cfbb97;
$under-text-color: #331b07;


// $bg-color: #b9914b;
// $bg-color: #9c6400;
// $bg-color: #d1ab69;
// $bg-color: #28233d;
$bg-color: #1f1938;

