$primary: #351800;
$primary-dark: #351800;
$primary-light: #462003;

$secondary-intense: #be9142;
$secondary: #c49545;
$secondary-dark: #7e5e28;

$text-color: #cfbb97;
$under-text-color: #251508;

$bg-color: #161a33;

$header-bg-color: #2d5281;

