@import "./colors.scss";
@import "./pages/MainPage/mainPage.scss";
@import "./shared/Header/header.scss";
@import "./shared/Header/HeaderBg/headerBg.scss";
@import "./shared/Navigation/navigation.scss";
@import "./shared/Article/article.scss";
@import "./shared/ArticleDisplay/articleDisplay.scss";
@import "./shared/ArticleDisplay/articleDisplay.scss";
@import "./shared/ErrorDisplay/errorDisplay.scss";
@import "./pages/Team/team.scss";
@import "./shared/FullWidthText/fullWidthText.scss";
@import "./pages/Travels/travels.scss";
@import "./shared/LoadingIcon/loadingIcon.scss";
@import "./pages/Contact/contact.scss";

@font-face {
  font-family: "Vinque";
  src: url("./fonts/vinque.ttf");
}

@font-face {
  font-family: "DSEtienne";
  src: url("./fonts/DSEtienne.ttf");
}

body {
  margin: 0;
  background-color: $bg-color;
  background-image: url("./svg/wavesBg.svg");
  background-repeat: repeat;
  background-size: 25px;
  background-position: center bottom;

  width: 100vw;
  height: 100vh;

  font-family: Vinque;

  color: $text-color;
  font-size: 20px;
  letter-spacing: 1px;

  overflow-x: hidden;
}

.App {
  display: flex;
  flex-flow: column nowrap;

  animation-name: openingAnimation;
  animation-duration: 5s;
}

.page {
  width: 100%;
}

@keyframes openingAnimation {
  from {opacity: 0;}
  to {opacity: 1;}
}

@media (max-width: 600px) {

  body {
    font-size: 15px;
  }
}