.MainPage {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.headerLogo {
  background-image: url("./shared/Header/logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 25vw;
}

.Header .floatingPart {
  position: fixed;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  background-color: #2d5281;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  z-index: 100;
}
.Header .floatingPart .logo {
  fill: #db9f37;
  height: 6vw;
  z-index: 60;
  transition: 1s ease;
}
.Header .backgroundPart {
  height: 35vw;
}

.Header.notCollapsed .logo {
  height: 20vw;
}

.HeaderBg {
  position: absolute;
  left: 0px;
  bottom: -5px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: flex-start;
  border-bottom: 5px solid #1f1938;
  z-index: 10;
}
.HeaderBg svg {
  fill: #1f1938;
  transition: 0.5s ease 0s;
}
.HeaderBg .leftover1 {
  height: 40%;
}
.HeaderBg .leftover2 {
  height: 15%;
}
.HeaderBg .leftover3 {
  height: 15%;
}
.HeaderBg .leftover4 {
  height: 65%;
}
.HeaderBg .leftoverSpace {
  height: 3.5%;
  width: 5%;
  background-color: #1f1938;
}

.Nav {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 120px;
  height: 120px;
  z-index: 100;
}
.Nav .menuBtn {
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  width: 110px;
  height: 110px;
  border-bottom-left-radius: 100%;
  cursor: pointer;
  transform-origin: 100% 0%;
  transition: 0.3s ease-in-out;
  z-index: 20;
}
.Nav .menuBtn .text {
  font-family: Vinque;
  color: #c99131;
  font-size: 1.5em;
  margin-top: 25%;
  transform: rotateZ(45deg) translate(10px, -10px);
}
.Nav .menuBtn.btnOn {
  background-color: #351800;
  border: 3px solid #a07327;
  transform: rotateZ(90deg);
}
.Nav .menuBtn.btnOff {
  background-color: #b4822c;
  border: 3px solid #351800;
  transform: rotateZ(0deg);
}
.Nav .menuBtn.btnOff .text {
  color: #351800;
}
.Nav .navBtns {
  position: absolute;
  top: -10%;
  right: -10%;
  fill: #351800;
  height: 280%;
  transform-origin: 0px 0px;
  transition: 0.5s ease-in-out;
  z-index: 10;
}
.Nav .navBtns #wing {
  transform: rotateZ(-90deg);
  transform-origin: 100% 0%;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 10;
}
.Nav .navBtns path {
  stroke: #a07327;
  stroke-width: 0.33;
}
.Nav .navBtns text {
  fill: #c99131;
  font-size: 2.3px;
}
.Nav .navBtns #wing:nth-of-type(1) text {
  transform: rotate(2.5deg);
}
.Nav .navBtns #wing:nth-of-type(2) text {
  transform: rotate(2deg);
}
.Nav .navBtns #wing:nth-of-type(3) text {
  transform: rotate(0deg);
}
.Nav .navBtns #wing:nth-of-type(4) text {
  transform: rotate(-3deg);
}
.Nav .navBtns #wing:nth-of-type(1) {
  transition-delay: 0.15s;
}
.Nav .navBtns #wing:nth-of-type(2) {
  transition-delay: 0.1s;
}
.Nav .navBtns #wing:nth-of-type(3) {
  transition-delay: 0.05s;
}
.Nav .navBtns #wing:nth-of-type(4) {
  transition-delay: 0s;
}

.Nav.active .navBtns #wing, .notCollapsed .Nav .navBtns #wing {
  transform: rotateZ(-2deg);
}
.Nav.active .navBtns #wing:hover, .notCollapsed .Nav .navBtns #wing:hover {
  transform: rotateZ(-1deg) scale(1.05);
  z-index: 15;
  transition: 0.1s ease-out 0s;
}
.Nav.active .navBtns #wing:nth-of-type(1), .notCollapsed .Nav .navBtns #wing:nth-of-type(1) {
  transition-delay: 0s;
}
.Nav.active .navBtns #wing:nth-of-type(2), .notCollapsed .Nav .navBtns #wing:nth-of-type(2) {
  transition-delay: 0.05s;
}
.Nav.active .navBtns #wing:nth-of-type(3), .notCollapsed .Nav .navBtns #wing:nth-of-type(3) {
  transition-delay: 0.1s;
}
.Nav.active .navBtns #wing:nth-of-type(4), .notCollapsed .Nav .navBtns #wing:nth-of-type(4) {
  transition-delay: 0.15s;
}

.Nav.active .menuBtn.btnOff {
  transform: rotateZ(-90deg);
}
.Nav.active .menuBtn.btnOn {
  transform: rotateZ(0deg);
}

.Article {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  align-content: stretch;
  margin-bottom: 100px;
  z-index: 10;
}
.Article .header {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 1.5em;
}
.Article .pictureBox {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  width: 60vw;
  height: 60vw;
  max-height: 350px;
  max-width: 450px;
  overflow: hidden;
}
.Article .pictureBox img {
  width: 80%;
  z-index: 10;
}
.Article .pictureBox .imgCover {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #1f1938;
  opacity: 0.7;
  z-index: 15;
}
.Article .content {
  display: flex;
  flex-flow: column nowrap;
  font-family: DSEtienne;
  background-color: #331b07;
}
.Article .content p {
  margin: 20px;
}

@font-face {
  font-family: "Vinque";
  src: url("./fonts/vinque.ttf");
}
@font-face {
  font-family: "DSEtienne";
  src: url("./fonts/vinque.ttf");
}
body {
  margin: 0;
  background-color: #1f1938;
  width: 100vw;
  height: 100vh;
  font-family: Vinque;
  color: #cfbb97;
  font-size: 20px;
  overflow-x: hidden;
}

.app {
  display: flex;
  flex-flow: column nowrap;
}

.page {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
