.MainPage {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}

.headerLogo {
  background-image: url("./shared/Header/logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 25vw;
}

.Header .floatingPart {
  position: fixed;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  background-color: #2d5281;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  z-index: 100;
}
.Header .floatingPart .logo {
  fill: #be9142;
  height: 4vw;
  min-height: 40px;
  font-family: DSEtienne;
  font-size: 14px;
  letter-spacing: 0px;
  padding: 4px;
  z-index: 60;
  transition: 1s ease;
}
.Header .floatingPart .currentPageName {
  position: absolute;
  width: 100%;
  text-align: center;
  font-family: DSEtienne;
  font-size: 5vw;
  color: rgba(255, 255, 255, 0.5);
  animation: openingAnimation 1s;
  transition: 1s ease;
  z-index: 20;
}
.Header .backgroundPart {
  height: 200px;
}

.Header.notCollapsed .logo {
  height: 10vw;
  min-height: 80px;
}
.Header.notCollapsed .currentPageName {
  font-size: 10vw;
}

@media (max-width: 600px) {
  .Header .backgroundPart {
    height: 120px;
  }
  .Header .floatingPart .logo {
    min-height: 50px;
  }
  .Header .floatingPart .currentPageName {
    font-size: 10vw;
  }

  .Header.notCollapsed .floatingPart .logo {
    min-height: 50px;
  }
  .Header.notCollapsed .floatingPart .currentPageName {
    font-size: 10vw;
  }
}
.HeaderBg {
  position: absolute;
  left: 0px;
  bottom: -5px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: center;
  border-bottom: 5px solid #161a33;
  z-index: 10;
}
.HeaderBg .current {
  animation: slideIn;
  animation-duration: 4s;
  transform: translateX(100px);
  transform-origin: 50% 100%;
}
.HeaderBg .previous {
  animation: slideOut;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
  transform: translateX(-100vw);
}
.HeaderBg svg {
  fill: #161a33;
  height: 80%;
}
.HeaderBg .leftover1 {
  height: 40%;
}
.HeaderBg .leftover2 {
  height: 80%;
}
.HeaderBg .leftover3 {
  height: 15%;
}
.HeaderBg .leftover4 {
  height: 65%;
}
.HeaderBg .leftoverSpace {
  height: 3.5%;
  width: 5%;
  background-color: #161a33;
}

@keyframes slideIn {
  from {
    transform: translateX(100vw) scale(0.2);
  }
  to {
    transform: translateX(100px) scale(1);
  }
}
@keyframes slideOut {
  from {
    transform: translateX(100px) translateY(0%) scale(1);
  }
  to {
    transform: translateX(-100vw) translateY(-50%) scale(2);
  }
}
.Navigation {
  position: fixed;
  top: -20px;
  right: 5px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  justify-content: center;
  transition: 0.2s;
  z-index: 100;
}
.Navigation .mainBtn {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background-color: #26466e;
  border: 3px solid #7e5e28;
  margin: 0px;
  width: 94px;
  height: 94px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.5s;
  z-index: 10;
}
.Navigation .mainBtn .bar {
  width: 30px;
  height: 3px;
  margin: 3.2px;
  background-color: #ddd;
}
.Navigation .navBtnsContainer .navBtn {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 0.9em;
  margin-top: 5px;
  width: 94px;
  height: 94px;
  border-radius: 50px;
  border: 3px solid #7e5e28;
  cursor: pointer;
  transform: translateX(0px) rotateZ(0deg);
  transition: 0.3s ease-in-out;
}
.Navigation .navBtnsContainer .navBtn:nth-of-type(1) {
  transition-delay: 0.12s;
  z-index: 8;
}
.Navigation .navBtnsContainer .navBtn:nth-of-type(2) {
  transition-delay: 0.24s;
  z-index: 6;
}
.Navigation .navBtnsContainer .navBtn:nth-of-type(3) {
  transition-delay: 0.36s;
  z-index: 4;
}
.Navigation .navBtnsContainer .navBtn:nth-of-type(4) {
  transition-delay: 0.48s;
  z-index: 2;
}
.Navigation .navBtnsContainer .navBtn:nth-of-type(5) {
  transition-delay: 0.6s;
  z-index: 0;
}
.Navigation .mainBtn,
.Navigation .navBtnsContainer > .navBtn {
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.3);
  background-color: #26466e;
}
.Navigation .mainBtn:hover,
.Navigation .navBtnsContainer > .navBtn:hover {
  background-color: #203a5b;
  transition-delay: 0s;
}

.Navigation.hidden {
  top: -20px;
  right: -20px;
}
.Navigation.hidden .mainBtn {
  background-color: rgba(0, 0, 0, 0);
  border: 0px solid #7e5e28;
  margin: 3px;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3);
}
.Navigation.hidden .mainBtn:hover {
  box-shadow: 1px 1px 12px 0px rgba(0, 0, 0, 0.3);
  background-color: #2c507d;
}
.Navigation.hidden .mainBtn:active {
  background-color: rgba(0, 0, 0, 0);
}
.Navigation.hidden .navBtnsContainer {
  height: 0px;
}
.Navigation.hidden .navBtnsContainer .navBtn {
  transform: translateX(200px) rotateZ(180deg);
}

.Article {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 60px;
  border-radius: 50px;
  width: 800px;
  max-width: 95%;
  min-height: 300px;
  opacity: 1;
  transition: 1s;
}
.Article .header {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: center;
  border-radius: 55px;
  height: 100px;
  transform: rotate(0deg);
  transition: 0.5s;
  z-index: 60;
}
.Article .header .name {
  display: flex;
  flex-flow: column;
  justify-content: center;
  font-size: 1.3em;
  background-color: #251508;
  background-image: url("./svg/brownShieldsBg.svg");
  background-size: 50px;
  background-repeat: repeat;
  background-attachment: local;
  box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.8);
  width: 900px;
  text-align: center;
  max-width: 95vw;
  border-top: 3px solid #7e5e28;
  border-bottom: 3px solid #7e5e28;
  transition: 0.5s ease-in-out 0.3s;
}
.Article .header .shieldHalf {
  flex: 0 0 50px;
  height: 100px;
}
.Article .header .shieldHalf .shieldQuater {
  width: 100%;
  height: 50%;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3);
  border: 3px solid #7e5e28;
  box-sizing: border-box;
}
.Article .header .shieldHalf:first-of-type .shieldQuater:first-of-type {
  background-color: #351800;
  border-top-left-radius: 100%;
  border-bottom: none;
  border-right: none;
}
.Article .header .shieldHalf:first-of-type .shieldQuater:last-of-type {
  background-color: #be9142;
  border-bottom-left-radius: 100%;
  border-top: none;
  border-right: none;
}
.Article .header .shieldHalf:last-of-type .shieldQuater:first-of-type {
  background-color: #be9142;
  border-top-right-radius: 100%;
  border-bottom: none;
  border-left: none;
}
.Article .header .shieldHalf:last-of-type .shieldQuater:last-of-type {
  background-color: #351800;
  border-bottom-right-radius: 100%;
  border-top: none;
  border-left: none;
}
.Article .content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background-color: #251508;
  background-image: url("./svg/brownShieldsBg.svg");
  background-size: 50px;
  background-repeat: repeat;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
  border: 3px solid #7e5e28;
  border-top: none;
  width: 100%;
  margin-top: -50px;
  padding-top: 60px;
  transform: scaleY(1);
  transform-origin: center top;
  transition: 0.5s linear 0.6s;
  z-index: 50;
}
.Article .content .pictureBox {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 800px;
  overflow: hidden;
}
.Article .content .pictureBox .navBtn {
  display: flex;
  flex-flow: column;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 200px;
  max-width: 50%;
  cursor: pointer;
}
.Article .content .pictureBox .navBtn svg {
  margin: 15px;
  font-size: 2em;
  opacity: 0.5;
}
.Article .content .pictureBox .navBtn:first-of-type {
  left: 0px;
  align-items: flex-start;
}
.Article .content .pictureBox .navBtn:last-of-type {
  right: 0px;
  align-items: flex-end;
}
.Article .content .pictureBox .navBtn:hover svg {
  opacity: 1;
}
.Article .content .pictureBox img {
  opacity: 1;
  width: auto;
  max-width: 100%;
  max-height: 500px;
  transition: 1s;
}
.Article .content .pictureBox.loading img {
  opacity: 0;
}
.Article .content .thumbnails {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
.Article .content .thumbnails .buttonContainer {
  display: flex;
  flex-flow: row;
  justify-content: center;
  width: 100%;
}
.Article .content .thumbnails .buttonContainer button {
  padding: 6px;
  margin: 2px;
  border: none;
  font: inherit;
  font-size: 0.8em;
  color: inherit;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0.6;
  text-align: center;
  cursor: pointer;
}
.Article .content .thumbnails .buttonContainer button:hover {
  opacity: 1;
}
.Article .content .thumbnails .buttonContainer button:focus {
  outline: none;
}
.Article .content .thumbnails img {
  margin: 2px;
  height: 80px;
  border: 2px solid #c49545;
  cursor: pointer;
  filter: sepia(100%);
  transform: scale(1);
}
.Article .content .thumbnails img:hover {
  border: 3px solid #c49545;
  margin: 1px;
  filter: sepia(50%);
}
.Article .content .thumbnails img.selected {
  filter: sepia(0%);
  margin: 1px;
  border: 3px solid #c49545;
  cursor: initial;
}
.Article .content .description {
  font-size: 0.9em;
  padding: 30px;
  max-width: 800px;
  width: 100%;
  box-sizing: border-box;
}
.Article .content div {
  opacity: 1;
  transition: 0.5s ease-in-out 1.5s;
}

.Article.hidden .header {
  color: rgba(0, 0, 0, 0);
  transform: rotate(180deg);
  min-width: 100px;
}
.Article.hidden .header .name {
  max-width: 0vw;
  font-size: 0em;
}
.Article.hidden .content {
  transform: scaleY(0);
}
.Article.hidden .content div {
  opacity: 0;
}

.ArticleDisplay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
  transition: 0.5s ease;
  z-index: 1000;
  overflow-y: auto;
  overflow-x: hidden;
}
.ArticleDisplay .articleBox {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  width: 100%;
}
.ArticleDisplay .articleBox button {
  position: fixed;
  top: 10%;
  right: 15%;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #351800;
  border: 2px solid #7e5e28;
  color: #c49545;
  font-weight: 600;
  font-size: 1.1em;
  transform: scale(1);
  cursor: pointer;
}
.ArticleDisplay .articleBox button:hover {
  color: #be9142;
  border: 2px solid #c49545;
  transform: scale(1.05);
}
.ArticleDisplay .articleBox .title {
  font-size: 1.5em;
  text-align: center;
  max-width: 80vw;
  border: 2px solid #7e5e28;
  border-radius: 5px;
  padding: 10px;
  background-color: #351800;
}
.ArticleDisplay .articleBox .pictureBox {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 80vw;
  height: 400px;
  margin: 10px;
}
.ArticleDisplay .articleBox .pictureBox img {
  height: 100%;
  border: 3px solid #c49545;
  padding: 2px;
  opacity: 1;
  transition: 0.5s ease;
}
.ArticleDisplay .articleBox .pictureBox img.loading {
  opacity: 0;
}
.ArticleDisplay .articleBox .picturesList {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 80vw;
  margin: 10px;
}
.ArticleDisplay .articleBox .picturesList img {
  height: 100px;
  border: 2px solid #7e5e28;
  border-radius: 5px;
  cursor: pointer;
  margin: 2px;
  filter: grayscale(0.8);
}
.ArticleDisplay .articleBox .picturesList img:hover, .ArticleDisplay .articleBox .picturesList img.active {
  filter: grayscale(0);
}
.ArticleDisplay .articleBox .picturesList img.active {
  margin: 1px;
  border: 3px solid #c49545;
}
.ArticleDisplay .articleBox .content {
  font-size: 0.9em;
  margin: 20px;
  width: 80vw;
  max-width: 700px;
  border: 2px solid #7e5e28;
  border-radius: 5px;
  padding: 20px;
  background-color: #351800;
}

.hiddenArticle {
  display: none;
  opacity: 0;
}

.ArticleDisplay.loading {
  opacity: 0;
}

@media (max-width: 600px) {
  .ArticleDisplay .articleBox .pictureBox {
    height: auto;
  }
  .ArticleDisplay .articleBox .pictureBox img {
    height: auto;
    max-width: 90vw;
  }
  .ArticleDisplay .articleBox .picturesList img {
    height: 70px;
  }
  .ArticleDisplay .articleBox button {
    top: 0px;
    right: 0px;
  }
}
.ArticleDisplay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
  transition: 0.5s ease;
  z-index: 1000;
  overflow-y: auto;
  overflow-x: hidden;
}
.ArticleDisplay .articleBox {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  width: 100%;
}
.ArticleDisplay .articleBox button {
  position: fixed;
  top: 10%;
  right: 15%;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #351800;
  border: 2px solid #7e5e28;
  color: #c49545;
  font-weight: 600;
  font-size: 1.1em;
  transform: scale(1);
  cursor: pointer;
}
.ArticleDisplay .articleBox button:hover {
  color: #be9142;
  border: 2px solid #c49545;
  transform: scale(1.05);
}
.ArticleDisplay .articleBox .title {
  font-size: 1.5em;
  text-align: center;
  max-width: 80vw;
  border: 2px solid #7e5e28;
  border-radius: 5px;
  padding: 10px;
  background-color: #351800;
}
.ArticleDisplay .articleBox .pictureBox {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 80vw;
  height: 400px;
  margin: 10px;
}
.ArticleDisplay .articleBox .pictureBox img {
  height: 100%;
  border: 3px solid #c49545;
  padding: 2px;
  opacity: 1;
  transition: 0.5s ease;
}
.ArticleDisplay .articleBox .pictureBox img.loading {
  opacity: 0;
}
.ArticleDisplay .articleBox .picturesList {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 80vw;
  margin: 10px;
}
.ArticleDisplay .articleBox .picturesList img {
  height: 100px;
  border: 2px solid #7e5e28;
  border-radius: 5px;
  cursor: pointer;
  margin: 2px;
  filter: grayscale(0.8);
}
.ArticleDisplay .articleBox .picturesList img:hover, .ArticleDisplay .articleBox .picturesList img.active {
  filter: grayscale(0);
}
.ArticleDisplay .articleBox .picturesList img.active {
  margin: 1px;
  border: 3px solid #c49545;
}
.ArticleDisplay .articleBox .content {
  font-size: 0.9em;
  margin: 20px;
  width: 80vw;
  max-width: 700px;
  border: 2px solid #7e5e28;
  border-radius: 5px;
  padding: 20px;
  background-color: #351800;
}

.hiddenArticle {
  display: none;
  opacity: 0;
}

.ArticleDisplay.loading {
  opacity: 0;
}

@media (max-width: 600px) {
  .ArticleDisplay .articleBox .pictureBox {
    height: auto;
  }
  .ArticleDisplay .articleBox .pictureBox img {
    height: auto;
    max-width: 90vw;
  }
  .ArticleDisplay .articleBox .picturesList img {
    height: 70px;
  }
  .ArticleDisplay .articleBox button {
    top: 0px;
    right: 0px;
  }
}
.errorDisplay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.Team {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  opacity: 1;
  transition: 0.5s ease;
  box-sizing: border-box;
}
.Team .teammateBox {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  max-width: 500px;
}
.Team .teammateBox .pictureBox {
  height: 100%;
  opacity: 1;
  transition: 0.5s ease;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
}
.Team .teammateBox .pictureBox img {
  max-height: 550px;
  max-width: 90vw;
  border: 3px solid #7e5e28;
  padding: 2px;
}
.Team .teammateBox .pictureBox.loading {
  opacity: 0;
}
.Team .teammateBox .description {
  flex: 1 1 auto;
  background-color: #251508;
  background-image: url("./svg/brownShieldsBg.svg");
  background-size: 50px;
  background-repeat: repeat;
  padding: 20px;
  max-width: 400px;
  font-size: 1em;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
  border: 3px solid #7e5e28;
  opacity: 1;
  transform: scaleY(1);
  transition: 0.5s ease 0.2s;
}
.Team .teammateBox .description.team {
  width: 70%;
}
.Team .teammateBox .description.loading {
  transform: scaleY(0);
  opacity: 0;
  transition: 0.5s ease;
}
.Team .teammateBox.team {
  max-width: 100%;
}
.Team .teammateBox.team .description {
  max-width: 800px;
}
.Team .teammatesIcons {
  width: 400px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  max-width: 80%;
}
.Team .teammatesIcons img {
  height: 80px;
  border-radius: 50%;
  margin: 5px;
  border: 3px solid #c49545;
  cursor: pointer;
  filter: sepia(80%);
  transform: scale(1);
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
}
.Team .teammatesIcons img:hover {
  opacity: 1;
  filter: sepia(60%);
  transform: scale(1.04);
}
.Team .teammatesIcons img.selected {
  filter: sepia(20%);
  transform: scale(1.09);
  cursor: initial;
}
.Team .teammatesIcons .rank {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 5px;
  text-align: center;
  font-size: 1.2em;
}

.Team.loading {
  opacity: 0;
}

.FullWidthText {
  width: 90%;
  padding: 30px;
  color: #bbb;
  text-shadow: 0px 0px 2px #c49545;
  text-align: center;
  animation-name: enter;
  animation-duration: 4s;
  animation-delay: 0s;
}

.FullWidthText.big {
  font-size: 3em;
  padding: 40px;
  animation-duration: 3s;
}

@keyframes enter {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.Travels {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
}

.loadingIcon {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: 1s ease-in-out;
  opacity: 0;
  z-index: -10;
}
.loadingIcon #loadingSvg {
  width: 60px;
  height: 60px;
  animation: rotate 1s linear infinite;
}
.loadingIcon #loadingSvg #p1, .loadingIcon #loadingSvg #p2 {
  fill: #351800;
}
.loadingIcon #loadingSvg #p3, .loadingIcon #loadingSvg #p4, .loadingIcon #loadingSvg #outline {
  fill: #c49545;
}

.loadingIcon.loading {
  opacity: 1;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  85% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.Contact .disc {
  color: #c49545;
  font-weight: 800;
}

@font-face {
  font-family: "Vinque";
  src: url("./fonts/vinque.ttf");
}
@font-face {
  font-family: "DSEtienne";
  src: url("./fonts/DSEtienne.ttf");
}
body {
  margin: 0;
  background-color: #161a33;
  background-image: url("./svg/wavesBg.svg");
  background-repeat: repeat;
  background-size: 25px;
  background-position: center bottom;
  width: 100vw;
  height: 100vh;
  font-family: Vinque;
  color: #cfbb97;
  font-size: 20px;
  letter-spacing: 1px;
  overflow-x: hidden;
}

.App {
  display: flex;
  flex-flow: column nowrap;
  animation-name: openingAnimation;
  animation-duration: 5s;
}

.page {
  width: 100%;
}

@keyframes openingAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 600px) {
  body {
    font-size: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
