@import "./colors.scss";
@import "./pages/MainPage/mainPage.scss";
@import "./shared/Header/header.scss";
@import "./shared/Navigation/navigation.scss";

@font-face {
  font-family: "Vinque";
  src: url("./fonts/vinque.ttf");
}

@font-face {
  font-family: "DSEtienne";
  src: url("./fonts/vinque.ttf");
}

body {
  margin: 0;
  background-color: $bg-color;

  width: 100vw;
  height: 100vh;

  color: $primary;

  overflow-x: hidden;
}

.app {
  display: flex;
  flex-flow: column nowrap;
}

.page {
  width: 100%;
}