.FullWidthText {
    width: 90%;
    padding: 30px;
    color: #bbb;
    text-shadow: 0px 0px 2px $secondary;
    text-align: center;

    animation-name: enter;
    animation-duration: 4s;
    animation-delay: 0s;

}

.FullWidthText.big {
    font-size: 3em;
    padding: 40px;
    animation-duration: 3s;

}

@keyframes enter {
    0% {opacity: 0}
    50% {opacity: 0}
    100% {opacity: 1;}
}